.container {
  margin-top: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.sort-column {
  cursor: pointer;
  float: right;
  margin: 0.25em;
}


